<template>
    <div class="establishment-creation-form container">
        <h3>Création d'un nouvel EHPAD</h3>
        <form @submit.prevent="submit" class="ui form">
            <label>
                <p>Nom : </p>
                <input required type="text" v-model="form.name" placeholder="Ex : Résidence Marguerite">
            </label>
            <label>
                <p>Ville : </p>
                <input required type="text" v-model="form.city" placeholder="Ex : Toulouse">
            </label>
            <button type="submit" class="ui basic button">
                <i class="icon save"></i>
                Enregistrer
            </button>
            <custom-loader v-if="submitting"></custom-loader>

            <p v-if="error.fields.length" class="error">{{ error.message }}</p>
        </form>
    </div>
</template>

<script>
import CustomLoader from "../../shared/custom-loader/custom-loader";
import establishmentsService from "../../../services/establishments"
import {createToast} from "mosha-vue-toastify";
import EventList from "../../../enums/event-list";
const emitter = require('tiny-emitter/instance');

export default {
    name: "establishment-creation-form",
    components: {
        CustomLoader
    },
    data() {
        return {
            submitting: false,
            error: {
                fields: [],
                message: '',
            },
            form: {
                name: '',
                city: ''
            }
        }
    },
    methods: {
        async submit() {
            this.submitting = true
            const toastError = () => {
                createToast('Une erreur est survenue', {
                    position: 'bottom-center',
                    type: 'danger',
                    transition: 'slide',
                    hideProgressBar: true
                })
            }

            if (this.validateFields()) {
                const headers = new Headers()
                headers.append("Content-Type", "application/json")

                const params = JSON.stringify({
                    city: this.form.city,
                    name: this.form.name
                })

                try {
                    const response = await establishmentsService.create(params)

                    if (response.status === 200) {
                        this.submitting = false
                        createToast('Nouvel EHPAD créé !', {
                            position: 'bottom-center',
                            type: 'success',
                            transition: 'slide',
                            hideProgressBar: true
                        })

                        emitter.emit(EventList.ESTABLISHMENT_LIST.on_change)
                        this.resetForm()
                    } else {
                        this.submitting = false
                        toastError()
                    }
                } catch (e) {
                    console.error(e)
                    this.submitting = false
                    toastError()
                }
            }
        },
        validateFields() {
            this.error.fields = []
            this.error.message = ''

            for (let [key, value] of Object.entries(this.form)) {
                if (!value) {
                    this.error.fields.push(key)
                }
            }

            if (this.error.fields.length) {
                this.error.message = 'Veuillez également remplir les champs ' + this.error.fields.join(',')
            }

            return !this.error.fields.length
        },
        resetForm() {
            this.form = {
                name: '',
                city: ''
            }
        }
    }
}
</script>

<style scoped>

    .form label {
        margin-bottom: 20px;
        display: block;
        position: relative;
    }

    .form label p {
        margin-bottom: 0;
    }
</style>