<template>
    <div class="resident-creation-form container">
        <h3>Inscription d'un nouveau résident</h3>
        <form @submit.prevent="submit" class="ui form">
            <label>
                <p>Ehpad : </p>
                <select required v-model="form.selectedEhpad">
                    <option disabled value="" selected="selected">Sélectionner un établissement</option>
                    <option v-for="ehpad in ehpadList" :key="ehpad.id" :value="ehpad.id">{{ ehpad.name }}</option>
                </select>
            </label>
            <label>
                <p>Nom : </p>
                <input required type="text" v-model="form.lastName" placeholder="Ex : Dupont">
            </label>
            <label>
                <p>Prénom : </p>
                <input required type="text" v-model="form.firstName" placeholder="Ex : Jean">
            </label>
            <label>
                <p>Date de naissance : </p>
                <datepicker :upperLimit="new Date()" v-model="form.birthDate"></datepicker>
            </label>
            <button type="submit" class="ui basic button">
                <i class="icon save"></i>
                Enregistrer
            </button>
            <custom-loader v-if="submitting"></custom-loader>

            <p v-if="error.fields.length" class="error">{{ error.message }}</p>
        </form>
    </div>
</template>

<script>

import Datepicker from 'vue3-datepicker'
import {createToast} from 'mosha-vue-toastify';
import 'mosha-vue-toastify/dist/style.css'
import {ref} from 'vue'

import CustomLoader from '../../shared/custom-loader/custom-loader'
import EventList from "../../../enums/event-list";
import establishmentsService from "../../../services/establishments";
import residentsService from "../../../services/residents"
const emitter = require('tiny-emitter/instance');

export default {
    name: "resident-creation-form",
    components: {
        Datepicker,
        CustomLoader
    },
    data() {
        return {
            loading: false,
            submitting: false,
            error: {
                fields: [],
                message: '',
            },
            name: "",
            ehpadList: [],
            form: {
                lastName: '',
                firstName: '',
                birthDate: ref(new Date()),
                selectedEhpad: null
            }
        }
    },
    async created() {
        await this.getEhpadList()
        emitter.on(EventList.ESTABLISHMENT_LIST.on_change, async () => {
            if (!this.loading) {
                await this.getEhpadList()
            }
        })
    },
    methods: {
        async getEhpadList() {
            this.loading = true
            this.ehpadList = await establishmentsService.getList()
            this.loading = false
        },
        async submit() {
            this.submitting = true
            const toastError = () => {
                createToast('Une erreur est survenue', {
                    position: 'bottom-center',
                    type: 'danger',
                    transition: 'slide',
                    hideProgressBar: true
                })
            }

            if (this.validateFields()) {

                const params = JSON.stringify({
                    lastName: this.form.lastName,
                    firstName: this.form.firstName,
                    dateOfBirth: this.form.birthDate.toISOString().split('T')[0],
                    establishmentId: this.form.selectedEhpad
                })

                try {
                    const response = await residentsService.registerResident(params)

                    if (response.status === 200) {
                        this.submitting = false

                        createToast('Nouveau résident inscrit !', {
                            position: 'bottom-center',
                            type: 'success',
                            transition: 'slide',
                            hideProgressBar: true
                        })
                    } else {
                        this.submitting = false
                        toastError()
                    }
                } catch (e) {
                    console.error(e)
                    this.submitting = false
                    toastError()
                }
            }
        },
        validateFields() {
            this.error.fields = []
            this.error.message = ''

            for (let [key, value] of Object.entries(this.form)) {
                if (!value) {
                    this.error.fields.push(key)
                }
            }

            if (this.error.fields.length) {
                this.error.message = 'Veuillez également remplir les champs ' + this.error.fields.join(',')
            }

            return !this.error.fields.length
        }
    }
}
</script>

<style scoped>
    .form label{
        margin-bottom: 20px;
        display: block;
        position: relative;
    }
    .form label p{
        margin-bottom: 0;
    }
</style>