@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,200;1,400&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

h1{

}

.text-center{
    text-align: center;
}