<template>
    <div class="establishment-list container ui card">
        <div class="content">
            <h2>Liste des établissements</h2>
            <ul class="ui middle aligned divided list">
                <li class="item" v-for="establishment in establishmentList" :key="establishment.id">
                    <p class="content">
                        {{ establishment.name }} <span class="city"> {{ establishment.city }}</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import establishmentsService from "../../../services/establishments"
import EventList from '../../../enums/event-list'
const emitter = require('tiny-emitter/instance');

export default {
    name: "establishment-list",
    data() {
        return {
            loading: false,
            error: {
                message: '',
            },
            establishmentList: [],
        }
    },
    async created() {
        this.establishmentList = await establishmentsService.getList()
        emitter.on(EventList.ESTABLISHMENT_LIST.on_change, async () => {
            this.establishmentList = await establishmentsService.getList()
        })
    },
}
</script>

<style scoped>
.establishment-list ul.ui.list {
    margin-left: 0;
}

.establishment-list ul.ui.list.list .item {
    padding: 10px;
}

.list .item::before {
    content: ''
}

.list .item .content .city {
    float: right;
    color: #a4a4a4;
}
</style>