<template>
    <div class="app">
        <img class="logo" src="./assets/img/cropped-logo-anisen-ok.png" alt="ANISEN"/>
        <div class="content-container">
            <div class="establishments-data container ui card">
                <div class="content">
                    <h2>Gestion d'EHPAD</h2>
                    <resident-creation-form></resident-creation-form>
                    <establishment-creation-form></establishment-creation-form>
                </div>
            </div>
            <establishment-list></establishment-list>
        </div>
    </div>
</template>

<script>
import ResidentCreationForm from './components/residents/creation-form/resident-creation-form'
import EstablishmentList from './components/establishment/list/establishment-list'
import EstablishmentCreationForm from './components/establishment/creation-form/establishment-creation-form'

export default {
    name: 'App',
    components: {
        ResidentCreationForm,
        EstablishmentCreationForm,
        EstablishmentList
    }
}
</script>


<style scoped>
.app{
    position: relative;
    overflow: auto;
}
.app::before{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('./assets/img/ACCUEIL-banniere-CLESIA-ccas-anisen-animation-senior.jpg');
    opacity: 0.5;
}

.app .logo{
    margin: 30px auto;
    display: block;
    opacity: 1;
    position: relative;
}

h2{
    text-align: center;
}

.content-container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container{
    padding: 15px;
}
.establishment-list.container, .establishments-data.container{
    display: block;
    position: relative;
    width: 45%;
    margin-top: 0;
}

.establishments-data > .container{
    padding-left: 0;
}
.establishments-data .establishment-creation-form.container{
    margin-bottom: 30px;
}

.ui.card{
    background: #ffffffdd;
}
.ui.card:last-child{
    margin-bottom: auto;
}

@media screen and (max-width: 1024px) {
    .content-container{
        max-width: 769px;
        flex-direction: column;
    }
    .establishment-list.container{
        width: 100%;
        padding: 0 15px;
    }
}
</style>