<template>
    <div class="custom-loader-container">
        <span class="dot" v-for="index in i" :key="index"></span>
    </div>
</template>

<script>
export default {
    name: "custom-loader",
    data(){
        return {
            i: 0
        }
    },
    created() {
        setInterval(() => {
            if (this.i === 3)
                this.i = 0
            else
                this.i++
        }, 300)
    }
}
</script>

<style scoped>
    .custom-loader-container{
        display: inline-block;
        vertical-align: middle;
    }
    .dot{
        margin: 3px;
        background-color:  #8b8b8b;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        vertical-align: middle;
        display: inline-block;
    }
</style>